<div class="centro">
    <h2>Seja bem-vindo(a) ao CarRent!</h2>
    <p>
        Você pode navegar no menu acima para gerenciar veículos, ou escolher um dos nossos veículos disponíveis para aluguel.<br>
        Para mais informações, a documentação está disponível no README.md.
    </p>
    <p>
        Se preferir, entre em contato pelo <a href="https://github.com/matiasemily" target="_blank">meu GitHub</a> ou pelo <a href="https://www.linkedin.com/in/matiasemily/" target="_blank">meu LinkedIn</a>. 
    </p>
</div>